@model BanDienThoaiDiDong.Models.SANPHAM
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTangChu.cshtml";
}

<link href="~/Content/ct.css" rel="stylesheet" />
 
    <div class="center_page">
         
            <div class="img_detail">
                <div class="thumbmail_slide">
                    <div class="img_container">
                        <img src="@Model.Hinh" alt="" id="img_box" style="height: 400px;">
                    </div>
                </div>
                <div class="tieu_de" style="color: black;">
                    <h1>@Model.TenSP</h1>
                </div>
                <div class="khuyen_mai" style="color: black;">
                    <p>Giá khuyến mãi tại: Hồ Chí Minh</p>
                </div>
                <div class="gia_product" style="color: black;">
                    <h1>@Model.GiaMacDinh(Model.MaSP) &#8363;</h1>

                </div>
                <div class="mo_ta" style="background-color: gainsboro;">
                    <div class="thong_tin" style="color: black;">
                        <p>Thông tin chi tiết</p>

                    </div>
                    <div class="text_mota" style="color: black;">
                        <p>@Model.MoTa</p>
                    </div>
                </div>
                <div class="add_to_cart">
                    <button class="addtocart">Thêm vào giỏ hàng</button>
                </div>
            </div>
        
    </div>
    <div class="san_pham_tieu_bieu" style="background-color: white;">
    </div>
 




